* {
    margin: 0px;
    border: 0px;
}

body {
    background-color: #9DBEBB;
}

.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 500px;
    width: 100%;
    min-height: 500px;
    padding: 10px 10px;
    background-color: #BE0909;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    font-family: 'Roboto';
    font-size: 18px;
}

.login_section2 {
    min-height: 500px;
    padding: 10px 10px;
    background-color: #FFB039;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    width: 300px;
}

.image_section {
    width: 0px;
}

img {
    transform: translate(-515px, 40px);
    width: 600px;
}

input {
    border-bottom: 1px solid gray;
    background: transparent;
    height: 40px;
    width: 400px;
    font-size: 15px;
    color: white;

}

input::placeholder {
    font-weight: bold;
    font-size: 15px;
    opacity: 0.5;
    color: rgb(158, 150, 150);
}

input:focus {
    outline: none;
}

input:hover {
    background-color: #cf1111;
}

.btn_submit {
    width: 210px;
    height: 40px;
    align-self: center;
    border-radius: 25px;
    background-color: #468189;
    box-shadow: 1px 1px 4px black;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

.btn_submit:hover {
    background-color: #2a3335;
}